<%= form_for(@user) do |user_fields| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= user_fields.label :first_name %><br>
  <%= user_fields.text_field :first_name %>

  <%= user_fields.label :last_name %><br>
  <%= user_fields.text_field :last_name %>

  <%= user_fields.label :email %><br>
  <%= user_fields.text_field :email %>

  <%= user_fields.label :password %>
  <%= user_fields.password_field :password %>

  <%= user_fields.label :password_confirmation %>
  <%= user_fields.password_field :password_confirmation %>

  <%= user_fields.submit %>

<% end %>