<%= form_for @playlist do |playlist_fields| %>
  <% if @playlist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@playlist.errors.count, "error") %> prohibited this playlist from being saved:</h2>

      <ul>
      <% @playlist.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= playlist_fields.label :name %><br>
  <%= playlist_fields.text_field :name %>

  <%= playlist_fields.submit %>

<% end %>